// Here you can add other styles

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}

.nav-link-submenu {
  margin-left: 0.75rem;
}

.input-group div.select {
	border: 0 !important;
	padding: 0 !important;
}

.react-datepicker__time-container  {
	width: 85px !important;
}

.react-datepicker__time-box {
	width: 85px !important;
}